<!DOCTYPE html>
<html>
<body>

<h2>Добавление поста</h2>

<form action="/admin/posts/append" method="POST">
    <fieldset>
        Title:<br>
        <input type="text" name="title" placeholder="Input Title" value="">
        <br>
        Text:<br>
        <textarea name="text" placeholder="Input Text"></textarea>
        <br>Author:<br>
        <input type="text" name="author" placeholder="Input Author" value="">
        <br>
        <input type="submit" value="Save">
    </fieldset>
</form>


</body>
</html>