<!DOCTYPE html>
<html>
<body>


<h2>Редактирование поста</h2>

<?php if (empty($post)): ?>
    <h2>Обьявление уже нет.</h2>
<?php else: ?>


    <form action="/admin/posts/update" method="POST">
        <fieldset>
            <input type="hidden" name="id" value="<?= $post->id ?>">
            Title:<br>
            <input type="text" name="title" value="<?= htmlspecialchars($post->title) ?>">
            <br>
            Text:<br>
            <textarea name="text"><?= htmlspecialchars($post->text) ?></textarea>
            <br>Author:<br>
            <input type="text" name="author" value="<?= htmlspecialchars($post->author) ?>">
            <br>
            <input type="submit" value="Save">
        </fieldset>
    </form>
<?php endif ?>


</body>
</html>