<!doctype html>
<meta charset="utf-8">
<body>

<?php if (empty($posts)): ?>
    <h2>Объявлений пока нет.</h2>
<?php else: ?>

    <style>
        body, table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th, thead {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <h2>Все посты</h2>

    <table>
        <th>id</th>
        <th>Title</th>
        <th>Text</th>
        <th>Author</th>
        <th>Actions</th>

        <?php foreach ($posts as $key => $post): ?>
            <tr>
                <td><?= $post->id ?></td>
                <td><?= htmlspecialchars($post->title) ?></td>
                <td><?= htmlspecialchars($post->text) ?></td>
                <td><?= htmlspecialchars($post->author) ?></td>
                <td>
                    <a href="/admin/posts/edit/<?= $post->id ?>">Редактировать</a>
                    <a href="/admin/posts/delete/<?= $post->id ?>">Удалить</a>
                </td>
            </tr>
        <?php endforeach ?>
    </table>
    <br>
    <a href="/admin/posts/create">Добавить новый пост</a>
<?php endif ?>
</body>
</html>

