<?php include_once 'layout/header.phtml'; ?>

<div class="leftcolumn">
    <?php if (empty($post)): ?>
        <div class="card">
            <h2>No post</h2>
        </div>
    <?php else: ?>

        <div class="card">
            <a href="/posts/<?= $post->id ?>"> <h2><?= htmlspecialchars($post->title) ?></h2></a>
            <h4><?= htmlspecialchars($post->author) ?></h4>
            <h5>Created <?= htmlspecialchars(date('d.m.y',strtotime($post->created_at))) ?></h5>
            <div><?= htmlspecialchars($post->text) ?></div>
        </div>

    <?php endif ?>

    <br>
    <a href="/posts"> Back </a>

</div>

<?php include_once 'layout/footer.phtml'; ?>