<?php include_once 'layout/header.phtml'; ?>

    <div class="leftcolumn">
        <?php if (empty($posts)): ?>
            <div class="card">
                <h2>No posts</h2>
            </div>
        <?php else: ?>
            <?php foreach ($posts as $key => $post): ?>
                <div class="card">
                    <a href="/posts/<?= $post->id ?>"> <h2><?= htmlspecialchars($post->title) ?></h2></a>
                    <h4><?= htmlspecialchars($post->author) ?></h4>
                    <h5>Created <?= htmlspecialchars(date('d.m.y',strtotime($post->created_at))) ?></h5>
                    <br>
                    <a href="/posts/<?= $post->id ?>"> Details </a>
                </div>
            <?php endforeach ?>

        <?php endif ?>
    </div>

<?php include_once 'layout/footer.phtml'; ?>